{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
<div class="container my-4">
    <h1 class="my-4">Edit Product #{{ product.idproduct }}</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex flex-row my-2">
        <a class="btn btn-secondary mx-2" href="{{ path('app_products_index') }}">back to list</a>

        {{ include('products/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
